* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

i,
svg {
  pointer-events: none;
}

.kick-pad,
.snare-pad,
.clap-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}
.kick-pad {
  background: rgb(89, 164, 207);
}
.snare-pad {
  background: rgb(179, 130, 180);
}
.clap-pad {
  background: rgb(207, 122, 89);
}

.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.kick-track,
.snare-track,
.clap-track {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  margin-top: 5rem;
}

.kick,
.snare,
.clap {
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}

.controls button {
  padding: 1rem;
  border: none;
  background: rgb(85, 85, 85);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pad {
  transition: all 0.5s ease;
}

.kick-pad.active {
  background: rgb(10, 135, 207);
}
.snare-pad.active {
  background: rgb(209, 26, 212);
}
.clap-pad.active {
  background: rgb(236, 86, 27);
}

.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: rgb(85, 85, 85);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 3rem;
}

select {
  padding: 1rem;
  font-size: 1rem;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.mute.active {
  background-color: rgb(240, 233, 233);
}

.tempo {
  margin: 3rem;
  width: 30%;
}

.tempo-slider {
  padding: 0.2rem;
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  background-color: rgb(61, 61, 61);
  cursor: pointer;
  border-radius: 1rem;
}

.temp p {
  font-size: 1.5rem;
  margin: 2rem;
  text-align: center;
}
